@import "../../../styles/_variables.scss";

.search-ql {
    .search {
        position: relative;
        background-color: $white;
        @include transform(0.2s);
        order:2;
        width:100%;

        .input {
            position: relative;
            z-index: 110;

            i {
                display: block;
                width: 50px;
                height: 40px;
                padding: 12px 0 0 18px;
                font-size: 16px;
                position: absolute;
                top: 0;
                left: 0;
            }

            input {
                display: block;
                border: none;
                font-size: 14px;
                padding-left: 50px;
                padding-right:15px;

                &:focus {
                    border: none;
                }
                
            }
        }

        .autocomplete {
            height: 0;
            width: 0;
            overflow: hidden;
            opacity: 0;
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            background-color: $white;
            border-radius: 0 0 2px 2px;
            box-shadow: 0 0 29.4px 0.6px rgba(40, 50, 58, 0.1);
            z-index: 109;
            @include transform(0.15s);

            &::-webkit-scrollbar {
                background-color: $white;
                width: 14px;
                height: 14px;
            }

            &::-webkit-scrollbar-corner {
                background-color: $white;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 14px;
                background-color: $border-dark;
                border: 4px solid $white;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    a {
                        display: block;
                        height: 34px;
                        padding: 9px 0;
                        color: $gray-darker;

                        i {
                            display: inline-block;
                            vertical-align: middle;
                            height: 16px;
                            width: 16px;
                            font-size: 16px;
                            margin: 0 16px 0 18px;
                            color: $gray;
                        }

                        span {
                            display: inline-block;
                            vertical-align: middle;
                            @media #{$sm} {
                                font-size:13px;
                            }
                        }

                        &:hover {
                            background-color: $back-gray;

                            span {
                                color: $gray-darkest;
                            }
                        }
                    }

                    &.divider {
                        height: 1px;
                        background-color: $border;
                    }
                }
            }

            &.active {
                height: auto;
                width: auto;
                overflow: auto;
                opacity: 1;
                max-height:600px;
            }
        }
    }
}
