.vizpad-main-wrapper
	.mdl-card.mdl-shadow--2dp.demo-card-wide.mdl-cell.mdl-cell--6-col.material
		.mdl-card__title
			h2.mdl-card__title-text Welcome
		.mdl-card__supporting-text
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			| Mauris sagittis pellentesque lacus eleifend lacinia...
		.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
				| Get Started
		.mdl-card__menu
			button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
				md-icon(md-svg-icon="share-variant")
