.vizpad-main-wrapper
	.error-dialog 
		div.type-error 
			span.cross X
			md-button.transparent.close-btn(aria-label='Use Android', ng-click='hide()') X
		div.error-msg-wrapper
			div.error-msg-heading Error
			div.error-msg {{message}}
    
