.vizpad-main-wrapper
	.success-dialog 
		div.type-success 
			i.icon-checkmark-1.cross
			md-button.close-btn(aria-label='Use Android', ng-click='hide()') X
		div.success-msg-wrapper
			div.success-msg-heading Success
			div.success-msg {{message}}
    
