.components-tabs-wrapper
	.ng-tabs-nav
		height 24px
		margin 8px 16px
		padding 0


	.ng-tabs-nav-item
		display inline
		list-style-type none
		padding 8px 16px
		margin-right 24px
		color #1a1a1a
		border-radius 2px


	.ng-tabs-nav-item a, .ng-tabs-nav-item a:visited
		text-decoration none
		color #1a1a1a


	.ng-tabs-nav-item_active
		background-color #1a1a1a


	.ng-tabs-nav-item.ng-tabs-nav-item_active a
		color white
