.components-applied-viz-filter-wrapper
	.filter-box
		display inline-block
		background #fff
		border 1px solid #ddd
		text-align center
		color #90a4ae
		border-radius 15px
		padding 4px 0
		margin 0px 3px 0 0
		font-size 13px
		max-width 200px
		white-space nowrap
		text-overflow ellipsis
		.filter-title
			text-overflow ellipsis
			max-width 155px
			overflow hidden
			display inline-block
			vertical-align bottom
		.applied-icons
			font-size 13px
			margin 0 5px
			&.icon-close
				cursor pointer