@import "../../styles/_variables.scss";

.settings {

  .settings-header-top {
    padding: 10px 0 25px 0;

    .left {
    }

    .right {
    }
  }

  .settings-header-bottom {
    border-bottom: 1px solid $border;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 33px;

        a {
          display: block;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          color: $gray-light;

          span {
            display: block;
            padding-bottom: 15px;
          }

          &:hover {
            color: $gray;
            border-color: $border-dark;
          }

          &.active {
            color: $blue;
            border-color: $blue;
          }
        }
      }
    }
  }

  .settings-content {
    padding-top: 25px;
  }

  .user {
    background-color: $white;
    overflow: hidden;

    .header {
      padding: 30px 40px;
      box-shadow: 0 3px 12px rgba(55, 71, 79, 0.06);
    }

    .content {
      display: table;
      width: 100%;

      .left {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding: 20px 30px 20px 40px;

        @media #{$sm} {
          padding: 20px;
        }
      }

      .right {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding: 20px 40px 20px 30px;

        @media #{$sm} {
          padding: 20px;
        }
      }

      .avatar {
        margin-bottom: 40px;

        .title {
          font-size: 12px;
          color: $gray-light;
          font-weight: 400;
          padding-bottom: 20px;
        }

        .upload {
          display: table;
          width: 100%;

          .img {
            display: table-cell;
            vertical-align: middle;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
          }

          .text {
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
            padding-left: 30px;
            line-height: 1.3;

            @media #{$sm} {
              font-size: 14px;
            }

            a {
              padding-right: 4px;
              cursor: pointer;
            }

            span {
              color: $gray-darker;
            }
          }
        }
      }

      &.name {
        .right {
          padding-top: 40px;
        }
      }

      &.password-title {
        display: block;
        padding: 0 40px;
        color: $blue;
        font-size: 16px;

        @media #{$sm} {
          padding: 0 20px;
        }

        i {
          display: inline-block;
          vertical-align: middle;
          font-size: 18px;
        }

        span {
          display: inline-block;
          vertical-align: middle;
          padding-left: 15px;
        }
      }
    }

    .footer {
      text-align: right;
      padding: 0 40px 30px 40px;
    }
  }

  .groups {
    display: table;
    width: 100%;
    box-shadow: 0 0 29.4px 0.6px rgba(40, 50, 58, 0.03);

    .groups-list {
      display: table-cell;
      vertical-align: top;
      width: 340px;
      background-color: #f6f8f9;
      border-right: 1px solid $border;

      @media #{$sm} {
        width: 160px;
      }

      .header {
        height: 125px;
        border-bottom: 1px solid $border;
        padding: 35px 30px 0 30px;

        h2 {
          margin-bottom: 26px;
        }

        .search-groups {
          position: relative;

          i {
            font-size: 16px;
            color: $gray-light;
            position: absolute;
            top: 7px;
            left: 0px;
          }

          input {
            font-size: 14px;
            color: $gray-darker;
            border: none;
            height: 31px;
            background-color: transparent;
            padding-left: 30px;
            outline: none !important;
          }
        }
      }

      .list {
        margin: 15px 0;
        padding: 0;
        list-style: none;

        li {
          display: table;
          width: 100%;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          @include transform(0.15s);

          .name {
            display: table-cell;
            vertical-align: middle;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            padding: 15px 30px;
            font-weight: 600;
            outline: none !important;
            @include transform(0.15s);
          }

          .controls {
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;
            padding-right: 15px;

            a {
              opacity: 0;
              color: $gray-light;
              @include transform(0.25s);

              &:hover {
                color: $red;
                opacity: 1 !important;
              }
            }
          }

          &.active {
            background-color: $white !important;
            border-color: $border;

            .name {
              color: $blue !important;
            }
          }

          &:hover {
            background-color: rgba(255,255,255,0.4);

            .name {
              color: $gray-dark;
            }

            .controls {
              a {
                opacity: 0.55;
              }
            }
          }
        }
      }

      .add-new {
        padding: 15px 30px 30px 30px;

        a {
          display: inline-block;
          cursor: pointer;

          i {
            display: inline-block;
            vertical-align: middle;
            height: 36px;
            width: 36px;
            border-radius: 50%;
            background-color: $gray-lighter;
            box-shadow: 0 0 19.2px 0.8px rgba(40, 50, 58, 0.06);
            color: $white;
            text-align: center;
            line-height: 36px;
            font-size: 12px;
            @include transform(0.15s);
          }

          span {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            padding-left: 15px;
            text-transform: uppercase;
            color: $gray-light;
            @include transform(0.15s);
          }

          &:hover {
            i {
              background-color: $gray-light;
            }

            span {
              color: $gray;
            }
          }
        }
      }
    }

    .groups-content {
      display: table-cell;
      vertical-align: top;
      background-color: $white;

      .groups-header {
        height: 125px;
        border-bottom: 1px solid $border;
        padding: 35px 30px 0 30px;

        h2 {
          margin-bottom: 34px;
        }
      }

      .content-tabs {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-right: 33px;

          a {
            display: block;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            color: $gray-light;

            span {
              display: block;
              padding-bottom: 15px;
            }

            &:hover {
              color: $gray;
              border-color: $border-dark;
            }

            &.active {
              color: $blue;
              border-color: $blue;
            }
          }
        }
      }

      .content {
        padding: 15px 30px 30px 30px;

        .groups-content-header {
          display: table;
          width: 100%;

          .left {
            display: table-cell;
            vertical-align: middle;

            h3 {
              span {
                color: $gray-light;
                padding-left: 10px;
              }
            }
          }

          .right {
            display: table-cell;
            vertical-align: middle;
            text-align: right;

            .search-groups-content-table {
              display: inline-block;
              vertical-align: middle;
              text-align: left;
              position: relative;

              i {
                font-size: 16px;
                color: $gray-light;
                position: absolute;
                top: 12px;
                left: 0px;
              }

              input {
                font-size: 14px;
                color: $gray-darker;
                border: none;
                height: 40px;
                background-color: transparent;
                padding-left: 30px;
                outline: none !important;
                width: 120px;
                border-bottom: 1px solid $border;
                @include transform(0.15s);

                &:focus {
                  width: 240px;
                  @include transform(0.2s);
                }
              }
            }

            .md-button {
              display: inline-block;
              vertical-align: middle;
              margin-left: 20px;
            }
          }
        }

        .groups-content-table {
          margin-top: 10px;
          width: 100%;
          border: 1px solid $border;

          thead {
            tr {
              th {
                text-align: left;
                background-color: #f6f8f9;
                font-size: 13px;
                font-weight: bold;
                color: $gray-light;
                padding: 20px 40px;

                &:last-child {
                  text-align: right;
                  padding: 20px 30px;
                }
              }
            }
          }

          tbody {
            tr {
              td {
                border-top: 1px solid $border;
                padding: 15px 40px;
                color: $gray-darker;
                @include transform(0.15s);

                .member-avatar {
                  display: inline-block;
                  vertical-align: middle;

                  .img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                  }

                  .initials {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 30px;
                    background-color: $gray-lighter;
                    color: $white;
                    font-size: 13px;
                    font-weight: bold;
                  }
                }

                .name {
                  display: inline-block;
                  vertical-align: middle;
                  padding-left: 15px;
                }

                .datasource-icon {
                  display: inline-block;
                  vertical-align: middle;

                  img {
                    height: 27px;
                  }
                }

                md-checkbox {
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: 0px;
                  margin-right: 15px;

                  .md-icon {
                    border-color: rgba(0,0,0,0.25) !important;
                  }
                }

                &:last-child {
                  text-align: right;
                  padding: 15px 30px;
                  width: 1%;

                  a {
                    opacity: 0;
                    color: $gray-lighter;
                    cursor: pointer;

                    &:hover {
                      color: $red;
                      opacity: 1;
                    }
                  }
                }
              }

              &:hover {
                td {
                  background-color: #eff4f7;

                  &:last-child {
                    a {
                      opacity: 0.6;
                    }
                  }
                }
              }
            }
          }
        }

        .options-list {
          margin: 0 0 30px 0;
          padding: 0;
          list-style: none;

          li {
            display: table;
            width: 100%;
            border-bottom: 1px solid $border;

            .left {
              display: table-cell;
              vertical-align: middle;
              padding: 27px 0;

              h4 {
                display: inline;

                &[tooltip] {
                  cursor: default;

                  &:hover {
                    color: $blue;
                  }
                }
              }

              h5 {
                color: $gray;
                padding-top: 5px;
              }

              .links {
                padding-top:8px;
                .links-list-opener {
                  display:block;
                  cursor:pointer;
                  span {
                    display:inline-block;
                    vertical-align:middle;
                  }
                  i {
                    display:inline-block;
                    vertical-align:middle;
                    padding-left:6px;
                  }
                }
                .links-list {
                  display:none;
                  padding-top:5px;
                  .link {
                    padding:2px 0 3px 0;
                    color:$gray-dark;
                  }
                }
                &.active {
                  .links-list-opener {
                    i {
                      &:before {
                        content: "\e906";
                      }
                    }
                  }
                  .links-list {
                    display:block;
                  }
                }
              }

            }

            .right {
              display: table-cell;
              vertical-align: middle;
              width: 65px;
              padding: 25px 0;
            }
          }
        }

        .add-new-gray {
          display: inline-block;
          cursor: pointer;

          i {
            display: inline-block;
            vertical-align: middle;
            height: 36px;
            width: 36px;
            border-radius: 50%;
            background-color: $gray-lighter;
            box-shadow: 0 0 19.2px 0.8px rgba(40, 50, 58, 0.06);
            color: $white;
            text-align: center;
            line-height: 36px;
            font-size: 12px;
            @include transform(0.15s);
          }

          span {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            padding-left: 15px;
            text-transform: uppercase;
            color: $gray-light;
            @include transform(0.15s);
          }

          &:hover {
            i {
              background-color: $gray-light;
            }

            span {
              color: $gray;
            }
          }
        }

        .checkbox-list {
          md-checkbox {
            margin-left: 0px;
            color: rgba(0,0,0,0.45);
            font-size: 16px;

            &.md-checked {
              color: $gray-dark;

              .md-icon {
                &:after {
                  border-color: $white !important;
                }
              }

              &:hover {
                color: $gray-dark;
              }
            }

            .md-icon {
              border-color: rgba(0,0,0,0.25) !important;
            }

            &:hover {
              color: rgba(0,0,0,0.65);
            }
          }
        }
      }
    }

    .members {
    }

    .datasources {
    }

    .modules {
      .groups-content-header {
        .left {
          padding-top: 22px;
          padding-bottom: 10px;
        }
      }
    }

    .permissions {
      .groups-content-header {
        .left {
          padding-top: 22px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .app {
    display: table;
    width: 100%;
    box-shadow: 0 0 29.4px 0.6px rgba(40, 50, 58, 0.03);

    .app-list {
      display: table-cell;
      vertical-align: top;
      width: 340px;
      background-color: #f6f8f9;
      border-right: 1px solid $border;
      height: 450px;

      @media #{$sm} {
        width: 160px;
      }

      .header {
        height: 75px;
        padding: 35px 30px 0 30px;
      }

      .list {
        margin: 15px 0;
        padding: 0;
        list-style: none;

        li {
          display: table;
          width: 100%;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          @include transform(0.15s);

          .name {
            display: table-cell;
            vertical-align: middle;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            padding: 15px 30px;
            font-weight: 600;
            outline: none !important;
            @include transform(0.15s);
          }

          &.active {
            background-color: $white !important;
            border-color: $border;

            .name {
              color: $blue !important;
            }
          }

          &:hover {
            background-color: rgba(255,255,255,0.4);

            .name {
              color: $gray-dark;
            }
          }
        }
      }
    }

    .app-content {
      display: table-cell;
      vertical-align: top;
      background-color: $white;

      .app-header {
        height: 75px;
        padding: 35px 30px 0 30px;
      }

      .content {
        padding: 15px 30px 30px 30px;
      }
    }
  }
}
