.vizpad-main-wrapper
  .vizpad
    .tophead
      span.head
        h4.truncate.vizpad-title.temp-vizpad-title(ng-class="{active: focus1}" ng-focus="focus1=true;blur1=false;" ng-blur="blur1=true;focus1=false;" spellcheck="false" ng-keyup="$ctrl.vizpadTitleChanged($event)" contenteditable="true") {{$ctrl.vizpadTitle}}
        md-tooltip.req-tooltip(md-direction='top')
          | {{$ctrl.vizpadTitle}}
      .menu-btn-small.smallscreen
        md-fab-speed-dial(md-open='$ctrl.isOpen', md-direction='{{$ctrl.selectedDirection}}', ng-class='$ctrl.selectedMode')
          md-fab-trigger
            md-button.md-fab.red(aria-label='menu')
              i.icon-menu
          md-fab-actions
            md-button.md-fab.md-mini.white(aria-label='new Viz', ng-click="$ctrl.showCreateVizDialog($event)")
              i.icon-plus
            md-button.md-fab.md-mini.white(aria-label='filter', ng-click='$ctrl.showFilter($event)')
              i.icon-filter
            md-button.md-fab.md-mini.white(aria-label='share', ng-click='$ctrl.showShare($event)')
              img.share-img(src="assets/Share.png")
            md-button.md-fab.md-mini.white(aria-label='calendar', ng-click='$ctrl.showRange($event)')
              md-icon.mdi-calendar(md-svg-icon="calendar")
      span.right.tophead-right.largescreen
        md-input-container.date-picker
          md-icon.mdi-calendar(md-svg-icon="calendar")
          label Timeline
          md-select.calendar-dropdown(ng-model='$ctrl.timelineType', ng-change="$ctrl.timelineChanged()" md-container-class="date-picker-dropdown")
            md-option(value="today")
              | Today
            md-option(value="yesterday")
              | Yesterday
            md-option(value="last5days")
              | Last 5 Days
            md-option(value="last7days")
              | Last 7 Days
            md-option(value="thisMonth")
              | This Month
            md-option(value="last30days")
              | Last 30 Days
            md-option(value="last3months")
              | Last 3 Months
            md-option(value="last6months")
              | Last 6 Months
            md-option(value="all" selected="true")
              | All
            md-option(value="custom" ng-click='$ctrl.showRange($event)')
              | Custom Range
            md-option(value="customDate" ng-click='$ctrl.showDate($event)')
              | Custom Date        
        md-menu.timeline-setting(md-position-mode='target-right target')
          md-button.md-fab.md-mini.white(aria-label='Open demo menu', ng-click='$mdOpenMenu($event)')
            img.settings-img(src='assets/setting-tophead.png')
            md-tooltip.req-tooltip(md-direction='top')
              | Date Settings
          md-menu-content(width='2')
            md-menu-item
              md-button.transparent(ng-click="")
                i.icon-checkmark-1.date-column-tick
                p XYZ
            md-menu-item
              md-button.transparent(ng-click="")
                p XYZ
        md-button.md-fab.md-mini.white(aria-label='Use Android', ng-click='$ctrl.showShare($event)')
          img.share-img(src="assets/Share.png")
          md-tooltip.req-tooltip(md-direction='top')
            | Share
        md-button.md-fab.md-mini.white(aria-label='Use Android', ng-click='$ctrl.showFilter($event)')
          i.icon-filter
          md-tooltip.req-tooltip(md-direction='top')
            | Filters
        .plus-button  
          md-button.md-fab.md-mini.red.plus-btn(aria-label='Use Android', ng-click="$ctrl.showSubnav('plus')")
            i.icon-plus
            md-tooltip.req-tooltip(md-direction='top')
              | Add Viz
          div.plus-menu(ng-class="{'active' : showDropdown=='plus'}")
            .border-line
            .dialogcontent
              md-button(aria-label='Use Android' ng-click="$ctrl.showCreateVizDialog($event)") 
                i.icon-plus  New Viz
              md-button(aria-label='Use Android', ng-click="$ctrl.showLibrary($event)") 
                i.icon-cloud-upload-1  Load Existing Viz
        span.line
        md-button(ng-click='$ctrl.updateAll()') Save
    .chartcontainer.overflow-div(id="chart-container" ng-class="{'show' :($ctrl.showDropdown=='viztype'||$ctrl.showDropdown=='legends'||$ctrl.showDropdown=='filter'||$ctrl.showDropdown=='settings'), 'dark-theme' : $ctrl.colorPaletteThemeColors == 'dark', 'light-theme' : $ctrl.colorPaletteThemeColors == 'sand', 'default-theme' : $ctrl.colorPaletteThemeColors != 'dark' && $ctrl.colorPaletteThemeColors != 'sand'}")
      .fake-overlay(ng-click="$ctrl.showSubnav('0')" ng-if="$ctrl.showDropdown=='viztype'||$ctrl.showDropdown=='legends'||$ctrl.showDropdown=='filter'||$ctrl.showDropdown=='settings'")
      .viz-title-wrapper
        span.viz-title(ng-class="{ active: focus}" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;" spellcheck="false" ng-keyup="$ctrl.vizTitleChanged($event)" contenteditable="true") {{$ctrl.vizTitle}}
      div.right.right-icons
        span.borderedButton(ng-click="$ctrl.toggleState('viztype')" ng-class="{'active' : $ctrl.showDropdown=='viztype'}")
          md-button.md-icon-button.right-button(aria-label='Open phone interactions menu')
            md-icon.chart-type-line(md-svg-icon="chart-line")
            md-tooltip.req-tooltip(md-direction='top')
              | Viz type 
        viz-type(viz="$ctrl.tempVizObj" active="$ctrl.state.viztype" change-graph="true" states="$ctrl.state")
        span.borderedButton(ng-click="$ctrl.toggleState('legends')" ng-class="{'active' : $ctrl.showDropdown=='legends'}" ng-show="$ctrl.viz.allLegends.length > 0")
          md-button.md-icon-button.right-button(aria-label='Open phone interactions menu')
            i.icon-menu
            md-tooltip.req-tooltip(md-direction='top')
              | Legends
        viz-legend(viz="$ctrl.tempVizObj" active="$ctrl.state.legends" ng-if="$ctrl.viz.allLegends.length > 0")
        span.borderedButton(ng-click="$ctrl.toggleState('filter')" ng-class="{'active' : $ctrl.showDropdown=='filter'}")
          md-button.md-icon-button.right-button(aria-label='Open phone interactions menu',)
            i.icon-filter
            md-tooltip.req-tooltip(md-direction='top')
              | Filters
        viz-filter(viz="$ctrl.tempVizObj" active="$ctrl.state.filter" filters="$ctrl.vizFilters")
        span.borderedButton(ng-click="$ctrl.toggleState('settings')" ng-class="{'active' : $ctrl.showDropdown=='settings'}")
          md-button.md-icon-button.right-button(aria-label='Open phone interactions menu')
            img.setting-option(src='assets/setting-option.png' ng-class="{'active' : $ctrl.showDropdown=='settings'}" ng-if="$ctrl.colorPaletteThemeColors != 'dark'")
            img.setting-option(src='assets/setting-dark-theme.png' ng-class="{'active' : $ctrl.showDropdown=='settings'}" ng-if="$ctrl.colorPaletteThemeColors == 'dark'")
            md-tooltip.req-tooltip(md-direction='top')
              | Viz Settings
        viz-settings(viz="$ctrl.tempVizObj" active="$ctrl.state.settings")
        md-button.md-icon-button.right-button(aria-label='Open phone interactions menu', ng-click="$ctrl.toggleState('download')")
          i.icon-download-1
          md-tooltip.req-tooltip(md-direction='top')
            | Download

      div.graph-div.explore-div(id='explore-viz')
