section(class="md-button-group bg-blue2")
    md-button.gray.small(ng-class="{active: !$ctrl.isClassification()}") Classification
    md-button.gray.small(ng-class="{active: !$ctrl.isRegression()}") Regression



