.header(layout="row")
  div(flex="")
    .title Predict using: {{ $ctrl.model.modelname }}

.content
  form(novalidate)

    div(layout="row")
      md-input-container(flex)
        label Dataset that model will be applied to
        md-select(ng-model="$ctrl.FormData.selectedDataset", ng-change="$ctrl.onSelectDataset()")
          md-option(ng-repeat="dataset in $ctrl.datasets | orderBy:'datasetName'", value="{{dataset.datasetId}}") {{dataset.datasetName}}

      div(layout="row")
        md-input-container(flex)
          label Name for your new dataset
          input(type="text" ng-model="$ctrl.newDatasetName")

    .footer
      md-button(type="reset" ng-click="$ctrl.closeDialog()" class="transparent") Cancel
      md-button(type="submit" ng-click="$ctrl.onSubmit()" ) Predict

    .errors(ng-show='$ctrl.errors.length > 0')
      span(ng-repeat="error in $ctrl.errors") {{ error }}
