@import "../../../styles/_variables.scss";

.dataset .create {

    .dataset-create-header {
        padding-top: 33px;
        padding-bottom: 15px;

        .back {
            display: inline-block;
            vertical-align: middle;
            color: $gray-light;
            font-size: 12px;
            padding-right: 15px;

            &:hover {
                color: $gray-dark;
            }
        }

        h1 {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .dataset-create-type-list {
        padding-bottom: 40px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .dataset-create-manual-upload {
        padding-bottom: 50px;

        .header {
            display: table;
            width: 100%;
            margin-bottom: 15px;

            .left {
                display: table-cell;
                vertical-align: middle;
                width: 50%;

                span {
                    font-size: 14px;
                    color: $gray-darker;
                }
            }

            .right {
                display: table-cell;
                vertical-align: middle;
                width: 50%;
                text-align: right;

                .help {
                    display: inline-block;
                    height: 28px;
                    width: 28px;
                    line-height: 24px;
                    text-align: center;
                    border: 2px solid $border;
                    border-radius: 50%;

                    i {
                        line-height: 1;
                        font-size: 10px;
                        color: $gray;
                        @include transform(0.15s);
                    }

                    &:hover {
                        border: 2px solid $border-dark;

                        i {
                            color: $gray-darker;
                        }
                    }
                }
            }
        }

        .drag-upload-box {
            background-color: $gray-lightest;
            border: 2px dashed $border-dark;
            border-radius: 2px;
            padding: 40px 0 35px 0;
            text-align: center;

            i {
                display: inline-block;
                font-size: 23px;
                color: $gray-light;
                margin-bottom: 13px;
            }

            h5 {
                font-size: 16px;
                color: $gray-darker;
            }

            h6 {
                font-size: 13px;
                color: $gray-light;
                margin: 6px 0 25px 0;
            }

            .md-button {
            }
        }
    }

    .dataset-create-url-upload {
        padding-bottom: 30px;

        .header {
            display: table;
            width: 100%;
            margin-bottom: 15px;

            .left {
                display: table-cell;
                vertical-align: middle;
                width: 50%;

                span {
                    font-size: 14px;
                    color: $gray-darker;
                }
            }

            .right {
                display: table-cell;
                vertical-align: middle;
                width: 50%;
                text-align: right;
            }
        }

        form {
            position: relative;

            input[type="url"], input[type="text"] {
                background-color: transparent;
            }

            button {
                position: absolute;
                right: 0;
                bottom: 13px;
            }
        }
    }

    .dataset-create-errors {
        color: $red;
        padding-bottom: 30px;
    }
}
